In [2]:
import pandas as pd

#Step 1: Look into data

# 1. Print the first rows of your dataset
df = pd.read_csv('netflix_titles.csv')
display(df.head(7))

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [3]:
# 2. Save the variables to a list
variables = df.columns.to_list()
display(pd.DataFrame(variables, columns=['Variables']))

       Variables
0        show_id
1           type
2          title
3       director
4           cast
5        country
6     date_added
7   release_year
8         rating
9       duration
10     listed_in
11   description

In [4]:
# 3. Note down potential issues you will have to address in each column
display(df.head(7))

# Print columns with missing values
# cast, director, countrys, etc have missing values
# date added is not in datetime format
# Description of the movie or series is not in the right format
# Duration is not in the right format
# There are columns that contain contatenated values

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [5]:
#Step 2: Look at the proportion of missing data.

missing_columns = df.columns[df.isnull().any()]
missing_data = df[missing_columns].isnull().sum()
total_rows = df.shape[0]
missing_data = missing_data/total_rows*100
display(pd.DataFrame(missing_data, columns=['Missing Data (%)']))

            Missing Data (%)
director           29.908028
cast                9.367549
country             9.435676
date_added          0.113546
rating              0.045418
duration            0.034064

In [6]:
#Step 3: Look at the data types of each column
display(df.info()) #We can easily check the amount of missing values in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

None

In [7]:
#Step 4: If you have columns of Strings, check for trailing whitespaces
display(variables)
variables.remove('release_year')
df[variables] = df[variables].apply(lambda x: x.str.strip())
#This will remove trailing whitespaces from all columns
variables = df.columns.to_list()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [8]:
display(pd.DataFrame(variables, columns=['Variables']))
#Step 5: Dealing with missing values
missing_columns_string = ['director', 'cast', 'country', 'rating']
df[missing_columns_string] = df[missing_columns_string].fillna('Unknown')

#Current date format: month day, year
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y')
df['month_added'] = df['date_added'].dt.month
df['day_added'] = df['date_added'].dt.day
df['year_added'] = df['date_added'].dt.year
display(df.head(7))

       Variables
0        show_id
1           type
2          title
3       director
4           cast
5        country
6     date_added
7   release_year
8         rating
9       duration
10     listed_in
11   description

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,month_added,day_added,year_added
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",9.0,25.0,2021.0
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",9.0,24.0,2021.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9.0,24.0,2021.0
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",9.0,24.0,2021.0
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,9.0,24.0,2021.0
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",Unknown,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,9.0,24.0,2021.0
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Unknown,2021-09-24,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,9.0,24.0,2021.0

In [9]:
#Separate duration in two columns
df['duration_number'] = df['duration'].str.extract('(\\d+)')
df['duration_unit'] = df['duration'].str.extract('(\\D+)')
df['duration_unit'] = df['duration_unit'].str.strip()

# Convert duration_number column to numeric type
df['duration_number'] = pd.to_numeric(df['duration_number'])

# Replace 'Seasons' with 'Season' if duration_number is 1
df['duration_unit'] = df['duration_unit'].astype(str)
df.loc[df['duration_unit'] == 'Seasons', 'duration_unit'] = 'Season'
# Print the updated dataframe
display(df[['duration_number', 'duration', 'duration_unit']].head(7))

   duration_number   duration duration_unit
0             90.0     90 min           min
1              2.0  2 Seasons        Season
2              1.0   1 Season        Season
3              1.0   1 Season        Season
4              2.0  2 Seasons        Season
5              1.0   1 Season        Season
6             91.0     91 min           min

In [10]:
#Step 7, check unique values

mask = df['rating'].str.contains(r'\d+\s*min', na=False)
df.loc[mask, 'duration'] = df.loc[mask, 'rating']
df.loc[mask, 'rating'] = 'Unknown'

df['rating'] = df['rating'].str.replace('Unknown', 'NR')
df['rating'] = df['rating'].str.replace('UR', 'NR')
display(pd.DataFrame(df['rating'].unique(),columns=['Unique Values']))

   Unique Values
0          PG-13
1          TV-MA
2             PG
3          TV-14
4          TV-PG
5           TV-Y
6          TV-Y7
7              R
8           TV-G
9              G
10         NC-17
11            NR
12      TV-Y7-FV

In [11]:
#Unique countries and solution
df['country'] = df['country'].str.replace('West Germany', 'Germany')
df['country'] = df['country'].str.replace('Soviet Union', 'Russia')
df['country'] = df['country'].str.replace('East Germany', 'Germany')
unique_countries = set()
country_list = df['country'].unique().tolist()
for country in country_list:
    countries = country.split(',')
    for c in countries:
        c = c.strip()
        unique_countries.add(c)

unique_countries.remove('')
countries_df = pd.DataFrame(unique_countries, columns=['Unique Countries'])
countries_df = countries_df.sort_values(by='Unique Countries')

display(countries_df)

    Unique Countries
33       Afghanistan
61           Albania
112          Algeria
73            Angola
4          Argentina
..               ...
94           Uruguay
118     Vatican City
32         Venezuela
114          Vietnam
31          Zimbabwe

[120 rows x 1 columns]

In [12]:
display(df.loc[df['type'] == 'TV Show','type'].count())
display(df.loc[df['type'] == 'Movie','type'].count())
display(df[['listed_in', 'type']].head(7))

display(df.loc[df['listed_in'] == 'TV Shows','listed_in'].count())
display(df.loc[df['listed_in'] == 'Movies','listed_in'].count())

2676

6131

                                           listed_in     type
0                                      Documentaries    Movie
1    International TV Shows, TV Dramas, TV Mysteries  TV Show
2  Crime TV Shows, International TV Shows, TV Act...  TV Show
3                             Docuseries, Reality TV  TV Show
4  International TV Shows, Romantic TV Shows, TV ...  TV Show
5                 TV Dramas, TV Horror, TV Mysteries  TV Show
6                           Children & Family Movies    Movie

16

57

In [13]:
#Step 8: Save the cleaned data
df.to_csv('cleaned_netflix_titles.csv', index=False)